@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --bright: 100%;
  --bgpos: 0% 0%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: clamp(40dvw, 80dvw, 800px);
  box-sizing: border-box;
  aspect-ratio: 4/3;
  height: auto;
  position: relative;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: black;
  transition: all 0.3s ease-in-out;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  left: auto;
  right: 20px;
}



@media all and (orientation:landscape) {
  .container {
    height: clamp(40dvw, 80dvw, 800px);
    width: auto;
  }
}

.box {
  flex: 1;
  overflow: hidden;
  line-height: 0;
  border: none;
  position: relative;
  background-size: cover;
  background-position: var(--bgpos);
  padding-top: 25px;
  transition: 0.5s;
  color: black;
  font-size: clamp(8px, 1.5dvw, 15px);
  text-shadow:
   -0.5px -0.5px 0 #fff,  
    0.5px -0.5px 0 #fff,
    -0.5px 0.5px 0 #fff,
     0.5px 0.5px 0 #fff;
  user-select: none;
  text-transform: lowercase;
} 

.calendar {
  position: relative;
  background-color: #f0642c;
  margin-top: 20px;
  padding: 7.5px;
  font-family: "Roboto Mono",monospace;
  color: #ffffff;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.25s linear;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

::-webkit-calendar-picker-indicator{
  filter: invert(1);
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}



.active {
  flex: 1 1 97%;
  border: hidden;
  background-position: center center;
}

.share-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.share-button i {
  color: #555;
}

::selection{
  color: #fff;
  background: #f0642c;
}
.view-modal, .popup{
  position: absolute;
  left: 50%;
}
button{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}
.view-modal{
  top: 10%;
  left: 90%;
  color: #e8e4ee;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 25px;
  background: rgb(113, 5, 156);
  transform: translate(-50%, -50%);
}
.popup{
  background: rgb(255, 254, 254);
  padding: 25px;
  border-radius: 15px;
  top: 10%;
  width: clamp(40dvw, 40dvw, 50dvw);
  opacity: 0;
  z-index: 19;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out,
              opacity 0.2s 0s ease-in-out,
              transform 0.2s 0s ease-in-out;
}
.popup.show{
  top: 50%;
  left: 50%;
  opacity: 1;
  pointer-events: auto;
  transform:translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out,
              opacity 0.2s 0s ease-in-out,
              transform 0.2s 0s ease-in-out;

}
.popup :is(header, .icons, .field){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons {
  padding-left: 0;
}
.popup header{
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}
header span{
  font-size: 21px;
  font-weight: 600;
}
header .close, .icons a{
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
} 
header .close{
  color: #878787;
  font-size: 17px;
  background: #f3f3f3;
  height: 33px;
  width: 33px;
  cursor: pointer;
}
header .close:hover{
  background: #ebedf9;
}
.popup .content{
  margin: 20px 0;
}
.popup .icons{
  margin: 15px 0 20px 0;
}
.content p{
  font-size: 16px;
}
.content .icons a{
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
}
.icons a i{
  transition: transform 0.3s ease-in-out;
}
.icons a:nth-child(1){
  color: #1877F2;
  border-color: #b7d4fb;
}
.icons a:nth-child(1):hover{
  background: #1877F2;
}
.icons a:nth-child(2){
  color: #46C1F6;
  border-color: #b6e7fc;
}
.icons a:nth-child(2):hover{
  background: #46C1F6;
}
.icons a:nth-child(3){
  color: #25D366;
  border-color: #bef4d2;
}
.icons a:nth-child(3):hover{
  background: #25D366;
}
.icons a:nth-child(4){
  color: #0088cc;
  border-color: #b3e6ff;
}
.icons a:nth-child(4):hover{
  background: #0088cc;
}
.icons a:hover{
  color: #fff;
  border-color: transparent;
}
.icons a:hover i{
  transform: scale(1.2);
}
.content .field{
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #757171;
}
.field.active{
  border-color: #f0642c;
}
.field i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}
.field.active i{
  color: #f0642c;
}
.field input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
.field button{
  color: #fff;
  padding: 5px 18px;
  background: #f0642c;
}
.field button:hover{
  background: #eb7445;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* Update the existing styles for smaller screens */
@media (max-width: 620px) {

  .popup .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center the icons horizontally */
  }
}